/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";

 .main-nav-logo {
  font-weight: 700;
  position:relative;
  font-family: 'Qwigley', cursive;
  font-size:40px;
  display: flex;
  margin-top: 0;
 }

 .main-text-logo {
   position:relative;
   top:5px;
   right: 5px;
   font-family: 'Qwigley', cursive;
   font-size: 65px;
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
   margin-top: 35px;
 }

body {
  font-family: 'Roboto', sans-serif;
}


.logo {
  width: 374px;
  height: 588px;
  position:relative;
  top:100px;
  right: 30px;
  background: image-url("main-image.png")
}
