

.feed-post-item img {
  width:600px;
}

.feed-post-item {
  margin: 20px 0;
  border: 1px solid #efefef;
  background-color: white;
}
.post-feed-container {
  margin: 0 auto;
  margin-top: 10px;
  width: 937px;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
}


.feed-post-header {
  display:flex;
  justify-content:flex-start;
  flex-wrap:nowrap;
  align-items: center;
  flex-direction: row;
  height: 60px;
}

.feed-post-header img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
}
.feed-post-header span {
  position:relative;;
  bottom: 10px;
  left: 10px;
}

.feed-post-detail {
  display: flex;
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction:column;
  font-size: 14px;
  margin: 15px 0;
}
.feed-post-detail form, textarea{
  width: 600px;
}

.feed-post-detail i {
  margin-right: 10px;
}
