// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-posts {
  width:293px;
  height: 293px;
}

.image-preview {
  width: 400px;
}

.post-form {
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  width: 937px;
}

.photo-container {
  padding-top: 100px;
  margin: 0 auto;
  width: 937px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.photo-container img {
  padding: 20px 0;
  padding-right: 15px;
}

.create-post-button {
  border: 1px solid #efefef;
  padding: 3px 25px;
  height:28px;
}

.modal-box {
  position:relative;
  top:0px;
}

.modal-image-container {
  width: 937px;
  height: 500px;
}

.modal-image-container img {
  width: 50%;
}
