// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "css_reset.scss";

.render-fix {
  position:relative;
  z-index: -1;
  top: 75px;
  text-align:center;

}

.edit-button {
  border: 1px solid #efefef;
  padding: 3px 25px;
  height:28px;
  position:relative;
  right:10px;
  top:16px;
}

.user-profile-header {
  width:937px;
  height: 255px;
}

.user-profile-header img {
  position:absolute;
  top:50px;
  left:75px;
  height: 150px;
  width: 150px;
  background: white;
-moz-border-radius: 75px;
-webkit-border-radius: 75px;
border-radius: 75px;
}

.user-profile-header li{
    color: black;
}

.user-profile-header li {
  display: inline-block;
}

.header-username {
  position:relative;
  right:10px;
  top:20px;
  font-size: 32px;
    line-height: 40px;
    font-weight: 200;
}

.header-name {
  font-weight:900;
  position:relative;
  left: 34px;
  top:10px;
}

.header-bio {
  position:relative;
  left: 45px;
    top:10px;
}

.header-holder {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

.post-follower-following ul {
  padding: 0 10px;
  margin: 10px;
}

.user-detail-holder {
  margin-top: 10px
}
